<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_aplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNews">
        <activity android:name="com.example.signnews.UI.NewsWebView" />
        <activity android:name="com.example.signnews.UI.DetailNews" />
        <activity
            android:name="com.example.signnews.UI.HeadlineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.signnews.UI.WorldNewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.signnews.UI.CategoryCountry"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.signnews.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>